<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h1>
      	<div class="center-block"
	         style="text-align: center;">
	           ようこそ、BAGELSへ！
        </div>
      </h1>

      <h4>
      	<div class="center-block"
	         style="text-align: center;">
	           このサイトはおすすめのBagel（ベーグル）を共有し合うSNSです<br>
	           種類が豊富なBagel!まだまだ知られていないBagelを共有し合えればと思います<br>
	           Bagelが好きな方、美味しいBagelを探している方、Bagelを作っている方 等！<br>
	           無料でご利用いただけますので、新規登録よりお気軽にご登録ください
        </div>
      </h4>

      <div id="box">
        <div id="images">
      	  <div class="image1"></div>
      	  <div class="image2"></div>
      	  <div class="image3"></div>
      	</div>
      </div>

    </div>
  </div>
</div>
